@model Griz.BookList.Lib.Models.Book

<div>
	@Model.Name
	<div class="btn-group">
		@*<button class="btn btn-mini">Things you can do</button>*@
		<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#" class="" data-id="@Model.Id">Start/Finish Reading</a></li>
			<li><a href="#" class="" data-id="@Model.Id">Edit</a></li>
			<li><a href="#" class="" data-id="@Model.Id">Purchase</a></li>
			<li><a href="#" class="" data-id="@Model.Id">Move</a></li>
			<li class="divider"></li>
			<li><a href="#" class="remove-book-button" data-id="@Model.Id">Remove</a></li>
		</ul>
	</div>
</div>