@model Griz.BookList.Web.Models.LoginModel

@{
	ViewBag.Title = "Log in";
	Layout = null;

}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<style type="text/css">
	body {
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #f5f5f5;
	}

	.form-signin {
		max-width: 300px;
		padding: 19px 29px 29px;
		margin: 0 auto 20px;
		background-color: #fff;
		border: 1px solid #e5e5e5;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		box-shadow: 0 1px 2px rgba(0,0,0,.05);
	}

		.form-signin .form-signin-heading,
		.form-signin .checkbox {
			margin-bottom: 10px;
		}

		.form-signin input[type="text"],
		.form-signin input[type="password"] {
			font-size: 16px;
			height: auto;
			margin-bottom: 15px;
			padding: 7px 9px;
		}
</style>

<div class="container form-signin">
	@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
 {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
		<h2 class="form-signin-heading">Please sign in</h2>
		
		@Html.TextBoxFor(m => m.UserName, new { @class = "input-block-level", placeholder = "User Name" })
		@Html.ValidationMessageFor(m => m.UserName)

		@Html.PasswordFor(m => m.Password, new { @class = "input-block-level", placeholder = "Password" })
		@Html.ValidationMessageFor(m => m.Password)

		<label>
			@Html.CheckBoxFor(m => m.RememberMe)&nbsp;Remember Me
		</label>
		
		<button class="btn btn-large btn-primary" type="submit">Sign in</button>
 }

	@Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

	@Html.ActionLink("Register", "Register") if you don't have an account.
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jquery")
	<script type="text/javascript" src="~/Scripts/jquery-ui-1.8.24.custom.min.js"></script>
	@Scripts.Render("~/bundles/jqueryval")
}
